@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: theme('fontFamily.sans');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: theme('colors.main-background');
  color: theme('colors.text.primary');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a.active {
  transition: color 0.2s ease-in;
  color: theme('colors.text.primary');
}

a.inactive {
  transition: color 0.2s ease-in;
  color: theme('colors.text.tertiary');
}

a.inactive:hover {
  color: theme('colors.text.secondary');
}
